label {
    display: inline-block;
    margin-right: 10px;
}

input[type="number"],
input[type="date"],
input[type="checkbox"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

li span {
    font-weight: bold;
    margin-right: 10px;
}
#menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
}
#menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
    display:inherit;
    border-radius:0;
}
#menu-demo2 ul li:hover{
    border-radius:0;
}
#menu-demo2 ul li:last-child{
    border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
    max-height:15em;
}

#menu-demo2 li:last-child{
    background-color: #CFFF6A;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}

#menu-demo2 li:last-child li{
    background:#677F35;
}

#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
    background:#CFFF6A;
}
/* les a href */
#menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 70px;
    color:#fff;
    font-family:arial;
}
#menu-demo2 ul a{
    padding:8px 0;
}
#menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
}
