body {
    min-height: 100vh;
    background: #302C2C;
}
.artist {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#test {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin: 50px auto 0;:
    max-width: 600px;
}

#test img {
    width: 150px;
}
#membres-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.membre {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
}
#membres-group button {
    background: rgba(0,0,0,0);
    border-color: white;
    color: white;
}

