<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link href="assets/styles/404.css" rel="stylesheet">
</head>
<body style="overflow: hidden">
<div class="bozo">
    <h1>RIP BOZO</h1>
    <p>LA HONTE EN BIG 2023 CE TROMPER D'UNE LETTRE</p>
</div>
<div class="Rip">
    <img src="assets/media/404.1.jpg" alt="">
    <img src="assets/media/404.2.jpg" alt="">
    <img src="assets/media/404.3.png" alt="">
</div>
<div class="Rip1">
    <img src="assets/media/404.4.gif" alt="">
</div>
<div class="note">
    <p>PS: Pour le correcteur, merci de mettre 20/20 au projet #personne en besoin.</p>
</div>
<div class="Angèle">
    <p>Au passage la honte de ne pas avoir mis cette chanteuse en big 2023, bref les classiques que vous loupez...</p>
</div>
<div class="angele1">
    <img src="assets/media/angèle.gif" alt="">
</div>
<div class="lisa">
    <img src="assets/media/LiSA.jpg" alt="">
</div>
<div class="note2">
    <p>Pour ceux qui se demandent, Florian Boulbes de B1A Info, qui est mon équipier pour Groupie Tracker, a dit je cite "cette femme est magnifique".</p>
</div>
</body>
</html>