<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link href = "assets/styles/404.css" rel="stylesheet" />
</head>
<body style="overflow: hidden">
<div class="bozo">
    <p1> RIP BOZO </p1>
    <p2> LA HONTE EN BIG 2023 CE TROMPER D'UNE LETTRE </p2>

</div>
<div class="Rip">
    <img src="assets/media/404.1.jpg" alt="">
    <img src="assets/media/404.2.jpg" alt="">
    <img src="assets/media/404.3.png" alt="">

</div>
<div class="Rip1">
    <img src="assets/media/404.4.gif" alt="">
</div>
<div class="note">
    <p4>ps : pour le correcteur merci de mettre 20/20 au projet #personne en besoin.</p4>
</div>

<div class="Angèle">
<p3>Au passage la honte de pas avoir mis cette chanteuse en big 2023 bref les classique que vous louper bref......</p3>
</div>
<div class="angele1">
    <img src="assets/media/angèle.gif" alt="">
</div>
<div class="lisa">
    <img src="assets/media/LiSA.jpg" alt="">
</div>
<div class="note2">
    <p5>pour ceux qui ce demande florian boulbes de B1A </br>info qui est mon équipiter pour Groupie Tracker</br> a dis je site "cette femme est manifique"</p5>
</div>
</body>
</html>