<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TRAVIS SCOOT</title>
    <link rel="icon" href="img/icon.jpg" type="icon/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/normalize.css">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>

<body>

<div id="luxy" class="wrapp">

    <header class="header">
        <h1 class="title" data-splitting><span class="title_paralax"></span><span class="stroke">On Groupie Tracker</span></h1>
        <div class="header__img">
        </div>
        <div class="header__marq">
            <div class="header__marq-wrapp">
					<span class="header__marq-txt">presentation of the artist
						<span class="header__marq-star">
							<img src="assets/media/star.svg" alt="">
						</span>
					</span>
                <span class="header__marq-txt">presentation of the artist
						<span class="header__marq-star">
							<img src="assets/media/star.svg" alt="">
						</span>
					</span>
                <span class="header__marq-txt">presentation of the artist
						<span class="header__marq-star">
							<img src="assets/media/star.svg" alt="">
						</span>
					</span>
                <span class="header__marq-txt">presentation of the artist
						<span class="header__marq-star">
							<img src="assets/media/star.svg" alt="">
						</span>
					</span>
            </div>
        </div>
    </header>

    <main class="main">

        <section class="about">
            <div class="about__wrapp">
                <div class="about__img">
                    <img src="img/2.jpg" alt="2">
                </div>
                <div class="about__txt">
                    <h2 class="section-title">abo<span class="stroke">ut</span>
                        <span class="section-title__square"></span>
                    </h2>
                    <div class = "test">
                        <p class="about__p"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="content">
                <h2 class="section-title">photo<span class="stroke"></span>
                    <span class="section-title__square"></span>
                </h2>
            </div>

            <div class="work__wrapp">
                <div class="work__item" data-speed="-300">
                    <span class="work__item-num" data-speed="-1000">/001</span>
                    <div class="work__item-img">
                    </div>
                </div>
                <div class="work__item" data-speed="-600">
                    <span class="work__item-num" data-speed="-500">/002</span>
                    <div class="work__item-img">
                    </div>
                </div>
                <div class="work__item" data-speed="-700">
                    <span class="work__item-num" data-speed="-700">/003</span>
                    <div class="work__item-img">
                    </div>
                </div>
                <div class="work__item" data-speed="-400">
                    <span class="work__item-num" data-speed="-200">/004</span>
                    <div class="work__item-img">
                    </div>
                </div>
            </div>
        </section>

        <section class="serv">
            <div class="content">
                <h2 class="section-title">concert date<span class="stroke">es</span>
                    <span class="section-title__square"></span>
                </h2>

                <div class="serv__list">
                </div>
            </div>
        </section>
    </main>
    <body onload="initMap()">
    <div id="map" style="height: 500px"></div>
    </body>
</div>
<script src="assets/scripts/Scrolling.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script src="assets/scripts/artistinfoAnimationScrolling2.js"></script>
<script src="assets/scripts/artistinfoAnimationScrolling1.js"></script>
<script src = "assets/scripts/artistinfoGet.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcPeUy9ELiR97UwRdYXMzhPtet4bUSiR8"></script>
<script src="assets/scripts/apiGoogle.js"></script>
</body>

</html>