<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtistInfo</title>
    <link href="assets/styles/categorie.css" rel="stylesheet">
    <link href="assets/styles/categorieFilter.css" rel="stylesheet">
</head>
<body>
<div id="membres-group">
    <div>
        <label for="dateCreation">Date de création :</label>
        <input type="number" min="1900" max="2099" id="dateCreation" name="date-min">
    </div>
    <div>
        <label for = "members">Nombre de membre :</label>
        <input type = "number" id = "members" min = "1" max = "8" name = "members">
    </div>
    <div>
        <label for = "album-date">Date 1er album :</label>
        <input type = "number" min="1900" max="2099" id = "album-date" name="album-date">
    </div>
    <button onclick="filterArtists()">Filtrer</button>
</div>

<div id = "test"></div>
<div class= "ariste">
</div>
<script src = "assets/scripts/categorieArtists.js"></script>

<script src="assets/scripts/categorieArtists.js"></script>
<script src="assets/scripts/categorieFilter.js"></script>

</body>
</html>